.container {
    color:gray;
    background-color: white;
    margin-top: 30px;
    width: 100%;
}


.navbar-brand {
    background-color: #4aaaa5;
    padding: 20px;
    border: 30px;
    border-color: #4aaaa5;
    -webkit-text-fill-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

h1 {
 color: #4aaaa5;
}
h2{
    -webkit-text-fill-color:white;
    background-color:#4aaaa5;
    width:300px;
    text-align:center;
}

p{
    float:left;
}

footer {
    position: fixed;
    background: #666666;
    left: 0;
    clear: both;
    bottom:0;
    width: 100%;
    border-top: 5px solid #4aaaa5;
    padding: 20px;
  }

  .card-img2{
      height:300px;
      width:300px;
  }
  @media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        position: absolute;
        right: 83px;
    }
}
.portfolio{
    background-color:white;
}

.card-body {
    background-color: white;
    align-content:auto;
    margin-top: 30px;
    }

    .card {
        margin: 50px;
    }
.card-img-overlay{
    left:-20px;
}