*{box-sizing:border-box;}

body {
    font-size:12px;
    line-height: 20px;
    color: #333;
    font-family:arial,helvetica,sans-serif;
}

h1 {color: #4aaaa5;
    margin-left: 20px ;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h4 {color: #ffffff;
    background-color: #4aaaa5;
    margin-left: 10px ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
header {
    position:fixed;
    width:100%;
    left: 0;
    top: 0;
    background: #ffffff;
    border: 1px solid #cccccc;
    z-index: 1 ;
}

#name{
    float: left;
    left: 155px;
    position: relative;
    Padding: 20px;
    background: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:18px;
    color: white;
}
a{
    color: #777777
}
li{
    padding:5px;
    float: left;
    border-right: .10px solid #777777;
    list-style:none;
}
nav{
    float:right;
    position: absolute;
    top:15px;
    right:90px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

p {float:left}

#contact{
    float: left;
}
#about {
        position: absolute;
        left:160px;
        top:100px;
        width:70%;
        padding:20px;
        border:1px solid #cccccc;
        overflow: auto;
        clear: both;
        color:#777777;
        background: #ffffff;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 5px solid #4aaaa5;
    padding: 20px;
    clear:both;
    background: #666666;
}
.container {
    position:absolute;
    left:150px;
    top:150px;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    font: size 12px;
    font-family:Arial, Helvetica, sans-serif;
    color:#777777;
    width: 98%; /* Full width */
    padding: 5px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    margin-top: 10px; /* Add a top margin */
    margin-bottom: 6px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 0px;
  }
  #ContactBox {
    position: relative;
    left:230px;
    top:100px;
    width:960px;
    height:600px;
    padding:20px;
    border:1px solid #cccccc;
    overflow: auto;
    clear: both;
    color:#777777;
    background: #ffffff;
}
#Portfolio {
    position: absolute;
    width:960px;
    height:600px;
    top: 100px;
    left: 230px;
    border:1px solid #cccccc;
    background-color: #ffffff;
    overflow: auto;
    clear: both;
}
    .img{
        position:relative;
        float:left;
        width:50px;
        height:50px;
        background-position:50%50%;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .image{
        height: 200px;
        width:  200px;
        position:absolute;
        float:left;
    }
    .container2{
        position: relative;
        text-align: center;
        color: white;
        float:left;
        width: 45%;
    }

    .porfolio_pics{
        height: 200px;
        width: 250px;
    }
    .centered {
        background-color: #4aaaa5;
        color: #ffffff;
        width:58%;
        position: absolute;
        padding: 10px 1px;
        top: 77%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    @media screen and (max-width:960px) {
        #about {width:100%; background:purple; }
    }
    
    @media screen and (max-width:768px) {
        #about {width:100%; background:blue; }}
    
    @media screen and (max-width:640px) {
            header {width:100%}
            #name {width:100%;float:none}
            nav {width:100%;}
            #about {width:100%; background:pink; }   
            footer
        
    

    